<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log" xsi:type="File" fileName="/app/logs/info.log" layout="${longdate} ${uppercase:${level}} | Message: ${message}"
            archiveFileName="/app/logs/info.${shortdate}.log"
            archiveAboveSize="1048576"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"
      />
    <target name="error" xsi:type="File" fileName="/app/logs/error.log" layout="${longdate} ${uppercase:${level}} | Message: ${message}"
            archiveFileName="/app/logs/error.${shortdate}.log"
            archiveAboveSize="1048576"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"
      />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="trace" maxLevel="debug" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="log" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>